
@media (min-width: 1921px) { 
    .anchor {
        display: none;
    }
   
}

@media (max-width: 1920px) { 

    .anchor { 

        top: 1925px;
    }
}


@media (max-width: 895px) { 

    .anchor { 

        display: none;
    }
    .headline h1 { 

        font-size: 30px;
    }
}

@media (max-width: 775px) { 

    .cima { 
        justify-content: center;
    }
    .bottom ul li { 
        display: block;
    }
    .bottom { 
        height: 85px;
        padding-bottom: 20px;
    }
    .left-notice h1 { 

        font-size: 35px;
        line-height: 40px;
    }

}

@media (max-width: 650px){

    .conteiner-notices{
        grid-template-areas: "notice-left"
                         "notice-right";
    grid-template-columns: 1fr;
    }


    .left-notice { 

        padding: 20px 10px;
    }

    .left-notice h1 {

        max-width: 500px;

    }

    .left-notice p { 

        max-width: 500px;
    }



    .search { 
        display: none;
    }
    #search-responsive { 
        display: block;
        transition: .3s;
    }
    #search-responsive:hover { 
        font-size: 20px;
        transition: .3s;
    }

    
}

@media (max-width: 583px){

    .headline h1{ 
        font-size: 25px;
        line-height: 28px;
    }
    .headline p { 

        font-size: 12px;
    }

    header { 
        display: none;
    
    }

    .left-notice { 

        padding: 20px 20px;
    }

    .left-notice h1 {

        max-width: 500px;
        margin-bottom: 5px;

    }

    .left-notice p { 

        max-width: 500px;
    }

    .bottom { 

        padding: 0px 6px 10px 6px;
    }




}

@media (max-width: 444px) {

    
    .left-notice h1 {

        font-size: 30px;
        max-width: 550px;
        line-height: 38px;
        margin-bottom: 10px;

    }

    .left-notice p { 

        font-size: 14px;
    }

   

    .bottom-header { 

        justify-content: space-between;
        padding: 0px 10px;

    }

    .bottom { 

        padding: 0px 5px 10px 5px;
    }

    .contato1 { 
        display: none;
    }

    #contato2 { 
        display: block;
    }

    #contato2 a { 
        color: white;
        font-weight: bold;
        line-height: 20px;
    }

}

