
@media (min-width: 1921px) { 
   
    .anchor {

        display: none;
    }
   
}

@media (max-width: 1920px) { 

    .anchor { 

        top: 2430px;
    }
}


@media (max-width: 895px) { 

    .anchor { 

        display: none;
    }

}


@media (max-width: 895px) { 

    .anchor { 

        display: none;
    }
    .headline h1 { 

        font-size: 30px;
    }
}

@media (max-width: 775px) { 

    .cima { 
        justify-content: center;
    }
    .bottom ul li { 
        display: block;
    }
    .bottom { 
        height: 85px;
        padding-bottom: 20px;
    }

}

@media (max-width: 650px){

  

    .search { 
        display: none;
    }
    #search-responsive { 
        display: block;
        transition: .3s;
    }
    #search-responsive:hover { 
        font-size: 20px;
        transition: .3s;
    }
    
}

@media (max-width: 550px){

    .headline h1{ 
        font-size: 25px;
        line-height: 28px;
    }
    .headline p { 

        font-size: 14px;
    }

    header { 
        display: none;
    
    }

    .content-date-and-share { 
        
        display: none;
    }

    .content-date-and-share-responsive { 
        
        max-width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        font-family: var(--font-open);
       
    }

    .date { 

        margin-top: 30px;
    }
   

    .date p { 
        
        line-height: 18px;
    }

    .bottom { 

        padding: 0px 6px 10px 6px;
    }

    

  
}

@media (max-width: 444px) {

    
    .headline h1 { 

        letter-spacing: -2px;
    }

    .bottom-header { 

        justify-content: space-between;
        padding: 0px 10px;

    }

    .bottom { 

        padding: 0px 6px 10px 6px;
    }

    .contato1 { 
        display: none;
    }

    #contato2 { 
        display: block;
    }

    #contato2 a { 
        color: white;
        font-weight: bold;
        line-height: 20px;
    }

}

